# Bỏ qua thư viện Frontend
client/node_modules/
client/dist/

# Bỏ qua rác Backend
server/__pycache__/
server/temp/
server/venv/

# Bỏ qua Dataset huấn luyện
Train_Val/

# Chặn toàn bộ file weights AI ở mọi ngóc ngách
*.pt
*.pth
*.weights
*.onnx

# Bỏ qua file môi trường
.env